<p id="notice"><%= notice %></p>

<h1>Adventures List</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Visit</th>
      <th>Cents</th>
      <th>Address</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
        <td><%= adventure.id %></td>
        <td><%= adventure.name %></td>
        <td><%= adventure.description %></td>
        <td><%= adventure.picture %></td>
        <td><%= adventure.visit %></td>
        <td><% if adventure.cents == 0 %>
                Free
            <% else %>
              <%= number_to_currency(adventure.cents/100) %>
            <% end %>
        </td>
        <td><%= adventure.address %></td>
        <td><%= adventure.website %></td>
        <td><%= link_to 'Show', adventure %></td>
        <td><%= link_to 'Edit', edit_adventure_path(adventure) %></td>
        <td><%= link_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adventure', new_adventure_path %><br />
<a href="/adventures?order=cents">List by Price, Low to High</a><br />
<a href="/adventures?order=name">List by Name</a><br />
<a href="/adventures?order=description">List by Description</a><br />